<h2>Registration</h2>

<form action="<%= router.path(:account) %>" method="POST">

  <div class="row">
    <div class="small-12 columns <%= model.error_class(:email) %>">
      <label>Email:
        <input type="text" name="user[email]" value="<%= model.email %>">
      </label>
      <% model.errors_for(:email) do |message| %>
        <small class="error"><%= message %></small>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns <%= model.error_class(:password) %>">
      <label>Password:
        <input type="password" name="user[password]" value="<%= model.password %>">
      </label>
      <% model.errors_for(:password) do |message| %>
        <small class="error"><%= message %></small>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns <%= model.error_class(:password_confirmation) %>">
      <label>Please confirm your password:
        <input type="password" name="user[password_confirmation]" value="<%= model.password_confirmation %>">
      </label>
      <% model.errors_for(:password_confirmation) do |message| %>
        <small class="error"><%= message %></small>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <button type="submit">Create your account</button>
    </div>
  </div>
</form>
