<div class="row">
  <div class="small-12 columns <%= form.error_class(:name) %>">
    <label>Name:
      <input type="text" name="room[name]" value="<%= form.name %>">
    </label>
    <% form.errors_for(:name) do |message| %>
      <small class="error"><%= message %></small>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns <%= form.error_class(:description) %>">
    <label>Description:
      <textarea name="room[description]"><%= form.description %></textarea>
    </label>
    <% form.errors_for(:description) do |message| %>
      <small class="error"><%= message %></small>
    <% end %>
  </div>
</div>
