<h2>Rooms</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>
  <% rooms.each do |room| %>
    <tr>
      <td><%= room.id %></td>
      <td><%= room.name %></td>
      <td><%= room.description %></td>
      <td>
        <a href="<%= router.path(:edit_rooms, room.id) %>">Edit</a>
        <form action="<%= router.path(:rooms, room.id) %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit" class="button tiny">Delete</button>
        </form>
      </td>
    </tr>
  <% end %>
</table>

<p>
  <a href="<%= router.path(:rooms, :new) %>">New room</a>
</p>
