<h2>New Room</h2>

<form action="<%= router.path(:rooms) %>" method="POST">
  <div class="row">
    <div class="small-12 columns <%= form.errors[:name].length > 0 ? 'error' : nil%>">
      <label>Name:
        <input type="text" name="room[name]" value="<%= form.name %>">
      </label>
      <% if form.errors[:name].length > 0 %>
        <small class="error"><%= form.errors[:name].join(', ') %></small>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns <%= form.errors[:description].length > 0 ? 'error' : nil%>">
      <label>Description:
        <textarea name="room[description]"><%= form.description %></textarea>
      </label>
      <% if form.errors[:description].length > 0 %>
        <small class="error"><%= form.errors[:description].join(', ') %></small>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <a href="<%= router.path(:rooms) %>">Cancel</a>
      <button type="submit">Create new room</button>
    </div>
  </div>
</form>
